  
  .slides {
    display: flex; 
    overflow-x: auto;
  
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .slides > div.container {
    display: flex; 
    flex-direction: column;
    margin: 0 auto;
    min-width: 100%;
    height: 70vh;
  }

  
  .slides::-webkit-scrollbar,
  .slides::-webkit-scrollbar-thumb,
  .project-list::-webkit-scrollbar,
  .project-list::-webkit-scrollbar-thumb,
  .bot-list::-webkit-scrollbar,
  .bot-list::-webkit-scrollbar-thumb {
    display: none;
  }
  
